<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage ADS</title>
</head>
<body>

<h1>Manage ADS</h1>

<div class="result" th:if="${added}" align="center" ><h2>Seller Ads added successfuly!</h2></div>
<div class="result" th:if="${removed}" align="center" ><h2>Seller Ads removed!</h2></div>

<div align="center">
    <form th:action="@{/admin/manage/ads/search}" method="post">
        <input name="email" placeholder="User e-mail"/>
        <input type="submit" value="Search User">
    </form>
</div>
<div align="center" th:if="${users}">
    <div align="center" th:style="'width: 80%; padding: 10px;'"
    th:each="user : ${users}">
        <form th:action="@{/admin/ads/add/{id} (id = ${user.id})}" method="post">
            <a th:href="@{/profile/{id} (id = ${user.id})}" target="_blank">
                <span th:text="'ID: ' + ${user.id}"></span>
                <span th:text="'Name: ' + ${user.name}"></span>
                <span th:text="'Email: ' + ${user.email}"></span>
            </a>
            <input type="submit" value="Add Seller to Ads" />
        </form>
    </div>
</div>

<div th:if="${notFound}" align="center">
    <h2>User not found!</h2>
</div>
<hr th:style="'width: 80%;'" />
<div align="center">
    <div th:each="ads: ${adsList}" align="center"
         th:style="'width: 80%; border: 1px solid rgba(30,30,30,0.4); border-radius: 3px; padding: 30px;'">
        <div align="left">
            <form  method="post" th:action="@{/admin/ads/remove/{id} (id = ${ads.user.id})}">
                <span th:text="${ads.user.id}" ></span> &nbsp;
                <span th:text="${ads.user.name}" ></span> &nbsp;
                <span th:text="${ads.user.email}" ></span> &nbsp;
                <input type="submit" value="Remove Ads" />
            </form>
        </div>
    </div>
</div>


</body>
</html>