<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/profile/{id}/update(id=${user.id})}" th:object="${user}" method="post">


    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">

    <h3>Shipping Address</h3>
    <label for="city">City</label>
    <input type="text" th:field="*{shippingAddress.city}" id="city">

     <label for="state">State</label>
    <input type="text" th:field="*{shippingAddress.state}" id="state">

    <label for="street">Street</label>
    <input type="text" th:field="*{shippingAddress.street}" id="street">

    <label for="zipCode">Zip Code</label>
    <input type="text" th:field="*{shippingAddress.zipCode}" id="zipCode">


    <h3>Billing Address</h3>
    <label for="city2">City</label>
    <input type="text" th:field="*{billingAddress.city}" id="city2">

    <label for="state2">State</label>
    <input type="text" th:field="*{billingAddress.state}" id="state2">

    <label for="street2">Street</label>
    <input type="text" th:field="*{billingAddress.street}" id="street2">

    <label for="zipCode2">Zip Code</label>
    <input type="text" th:field="*{billingAddress.zipCode}" id="zipCode2">

    <input type="submit" value="Update Profile">

</form>

</body>
</html>