<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:text="${confirmationMessage}"></span><br/><br/>
<form th:action="@{/login}" method="POST">
    Email: <input type="text" name="email"/><br/><br/>
    Password: <input type="password" name="password"/>
    <div>
        <input type="checkbox" name="remember-me" /> Remember Me?<br/>
    </div>
    <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
</form>

</body>
</html>