<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.css" rel="stylesheet">
    <!--pop-up-box-->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>

<form th:action="@{/product/update/{pid}(pid=${product.id})}" th:object="${updateProduct}" method="post" enctype="multipart/form-data">
    Name:<input type="text" th:text="${product.name}" th:field="*{name}"/><br />
    Description:<textarea th:text="${product.description}" th:field="*{description}"></textarea><br />
    Price:<input type="text" th:text="${product.price}" th:field="*{price}"/><br />
    Image:<input type="file"  name="file" /><br />
    <input type="submit" value="Update Product"/><br />

</form>

</body>
</html>